<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <% unless @feeds.present? %>
    <p class="text-center">投稿はありません。</p>
  <% end %>
  <%= render "public/posts/mypage_post", posts: @feeds %>
</div>