<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <div class="border-bottom border-white my-3">
    <% @tags.each do |tag| %>
      <div class="tag-box">
        <%= link_to tag.name, public_posts_path(name: tag.id), class: "btn btn-warning rounded-pill my-3" %>
      </div>
    <% end %>
    <div class="tag-box">
      <%= link_to "全表示", public_posts_path, class: "btn btn-success rounded-pill my-3" %>
    </div>
  </div>
  <%= render "public/posts/mypage_post", posts: @posts %>
</div>
