<div class="container border">
  <h2>投稿詳細</h2>
   <table class="ml-5">
    <% if @user.profile_image.attached? %>
    <tr>
      <th><%= image_tag @user.profile_image, size: "200x200" %></th>
      <th><h2 class="ml-5"><%= @user.name %></h2></th>
    </tr>
    <% else %>
      <tr>
        <th><%= image_tag 'no_image', size: "200x200" %></th>
        <th><h2 class="ml-5"><%= @user.name %></h2></th>
      </tr>
    <% end %>
    
  </table>
</div>