<% if @messages.present? %>
  <% messages.each do |m| %>
    <table>
      <tr>
        <th class="p-5">
          <%= image_tag m.user.get_profile_image, class: "rounded-circle img-fluid center-block", size: "50x50" %>
        </th>
        <th class="nes-balloon is-dark">
          <%= safe_join(m.content.split("\n"),tag(:br)) %>
        </th> 
        <th>
          <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
        </th>
      </tr>
    </table>
  <% end %>
<% end %>