<% if users.empty? %>
  <div class="text-center">
    ユーザーはいません。
  </div>
<% else %>
  <% users.each do |user| %>
    <%= link_to public_user_path(user.id), class: "link" do %>
      <table class="mt-4 ml-5">
        <tr>
          <th class="pr-3"><%= image_tag user.get_profile_image, class: "rounded-circle", size: "80x80" %></th>
          <th><h4><b><%= user.name %></b></h4></th>
        </tr>
      </table>
    <% end %>
  <% end %>
<% end %>