<div class="container px-sm-0">
  <h1 class="text-center">
    <strong>
      Share gamesへようこそ！
    </strong>
  </h1>
  <p class="text-center">
    このサイトは、様々なゲームの情報が知れるゲーム特化のつぶやきサイトです！<br>
    自分の情報をつぶやいたり、興味のある人をフォローして最新情報をシェアしよう！
  </p>
  <div>
    <p class="text-center">
      会員登録はこちらから！<%= link_to "新規登録",  new_user_registration_path, class: "btn btn-success" %>
      登録済みの方はこちらから！<%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary" %>
    </p>
  </div>
</div>