<div class="container nes-container is-rounded is-dark mx-auto">
  <h1 class="text-center pt-5">
    <strong>
      Share Gamesへようこそ！
    </strong>
  </h1>
  <p class="text-center pt-5">
    このサイトは、様々なゲームの情報が知れるゲーム特化のつぶやきサイトです！<br>
    ゲームの情報をつぶやいたり、興味のある人をフォローして最新情報をシェアしよう！
  </p>
  <div>
    <p class="text-center">
      <%= link_to "新規登録",  new_user_registration_path, class: "btn btn-success mr-5" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary mr-5" %>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
    </p>
  </div>
</div>