@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.bg-image {
  background-image: image-url("gameneon01.jpg");
  height: 800px;
  background-size: cover;
}