/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@font-face {
	font-family: PixelMplus10-Regular;
	src: asset_url('PixelMplus12-Regular.ttf') format("truetype");
}

.pixel-font {
  font-family: PixelMplus12-Regular;
}

.edit-image {
  display: none;
}

.container {
  padding-top: 150px;
}

.my-bgc {
  background-color: rgba(33, 37, 41, 0.7) !important;
}

.edit-btn {
  display: block;
  background-color: #28a745;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.edit-btn:hover {
  cursor: pointer;
  cursor: hand;
  background-color: #228B22;
}

.heart {
  color: red;
}

.link {
  color: white;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.image-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-box {
  position: relative;
  overflow: hidden !important;
  width: 100%;
  height: 100vh;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0);
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tag-box {
  display: inline;
  a{
      text-decoration: none;
  }
}

.form-check {
  float: left;
  padding-left: 0 !important;
  padding-right: auto;
}

.flex {
  display: flex;
}

// バリデーションの時にレイアウト崩れ防止
.field_with_errors {
  display: contents;
}

.alert-warning {
  background-color: rgba(33, 37, 41, 0.7) !important;
  color: #fff !important;
  border-color: red !important;
  width: 215px;
  padding-right: 10px !important;
  margin-top: 30px;
}

footer{
  width: 100%;
  position: absolute;/*←親要素に対して、絶対位置を決める*/
  bottom: 0; /*ページの下端からの距離が0の位置*/
}

.img {
  max-width: 100%;
  height: auto;
}

.form_size {
  width: 100%;
}

body, html {
  font-size: 15px; 
}

@media screen and (max-width: 576px) {
  body, html {
    font-size: 10px; 
  } 
  
  .left-position {
    position: absolute;
    top: 150px;
    right: 200px;
  }
  
  .right-position {
    position: absolute;
    top: 450px;
    left: 200px;
  }
  
  .btn-margin {
    margin-top: 80px;
  }
  
  .message-margin {
    margin-bottom: 100px;
  }
}
