<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <div id="follow-btn_<%= @user.id %>">
    <%= render "public/relationships/profile", user: @user %>
  </div>
  <ul class="nav nav-tabs nav-fill mb-5">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab-post"><b>過去の投稿</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-favorite"><b>いいね一覧</b></a>
    </li>
  </ul>
  <!--過去の投稿-->
  <div class="tab-content">
    <div class="tab-pane active mt-5" id="tab-post">
      <%= render "public/posts/mypage_post", posts: @posts %>
    </div>
    <!--いいね一覧-->
    <div class="tab-pane mt-5" id="tab-favorite">
      <%= render "public/posts/mypage_post", posts: @favorite_posts %>
    </div>
  </div>
</div>